<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget</title>
</head>
<body>
    <h1>answer the question given below</h1>
    <form action="/forget" method="POST">
        <label for="email">email :</label>
        <input type="email" name="email" id="email">
        <br>
        <label for="security">In what city were you born?</label>
        <input type="text" name="securityQuestion" id="security">
        <br>
        <button type="submit">submit</button>
    </form>
</body>
</html>