<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Password</title>
</head>
    <body>
        <h1>Enter New Password</h1>
        <form action="/newRegister" method="POST">
            <label for="email">email :</label>
            <input type="email" name="email" id="email">
            <br>
            <label for="passsword">new passsword :</label>
            <input type="password" name="newPassword" id="password">
            <br>
            <label for="passsword">confirm passsword :</label>
            <input type="password" name="confirmNewPassword" id="confirmNewPassword">
            <br>
            <button type="submit">submit</button>
        </form>
    </body>
</html>